<a class="navbar-brand" href="{{_rel}}index.html">
  {%- if _appLogoPath -%}
  <img id="logo" class="svg" src="{{_rel}}{{_appLogoPath}}" alt="{{_appName}}" >
  {%- else -%}
  <img id="logo" class="svg" src="{{_rel}}logo.svg" alt="{{_appName}}" >
  {%- endif -%}
</a>
