<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {{metadata}}

  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="{{ page._rel }}dist/docfx.css">
</head>

<body data-bs-spy="scroll" data-bs-target="#in-this-article">
  <header>
    {%- include header -%}
  </header>

  <main class="container-xxl layout-{{layout}} page-type-{{pageType}}">
    {%- if layout == "conceptual" -%}
      {%- unless disableBreadcrumb -%}
        <nav class="layout-breadcrumb" id="breadcrumb" aria-label="breadcrumb"></nav>
      {%- endunless -%}

      <nav class="layout-toc">
        {%- include toc -%}
      </nav>

      <article>
        {{ heading1 }}
        {%- unless disableMetabar -%}
          {%- include metabar -%}
        {%- endunless -%}

        {{ content }}

        {%- if page.original_content_git_url -%}
        <a class="edit-this-page" href="{{ page.original_content_git_url }}">
          <svg xmlns="http://www.w3.org/2000/svg" height="1em" fill="currentColor" stroke="currentColor" viewBox="0 0 448 448">
            <path d="M426.01 21.914c-29.252-29.216-76.87-29.22-106.127-.008l-.008-.008-283.91 284.744L0 448l141.236-34.39 285.413-289.5C446.33 104.45 448 93.188 448 74.917c0-20.028-7.81-38.856-21.99-53.002zM44.437 402.99l18.206-72.676c26.932 6.47 48.067 27.627 54.44 54.56L44.436 402.99zm40.297-99.93L307.14 80.91l59.81 59.707-222.55 222.28c-10.78-27.27-32.407-48.978-59.667-59.837zm318.163-198.245l-.058-.042-12.72 12.7-59.807-59.71L343.04 45.05l.008.008c16.516-16.463 43.338-16.463 59.79 0 8.002 7.976 12.387 18.573 12.387 29.857 0 11.268-4.385 21.865-12.387 29.84l.058.06z"/>
          </svg>
          Edit this page on GitHub
        </a>
        {%- endif -%}
      </article>

      <aside>
        <div class="sticky-top">
          <nav id="in-this-article" class="in-this-article"></nav>
        </div>
      </aside>
    {%- else -%}
      {{ content }}
    {%- endif -%}
  </main>

  <footer>
    {%- include footer -%}
  </footer>

  <script type="text/javascript" src="{{ page._rel }}dist/docfx.js"></script>
</body>

</html>