<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  {{metadata}}

  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="{{ page._rel }}dist/docfx.css">
</head>

<body data-spy="scroll" data-target="#in-this-article">
  <header>
    {%- include header -%}
  </header>

  <main class="container layout-{{layout}} page-type-{{pageType}}">
    {%- if layout == "conceptual" -%}
      {%- unless disableBreadcrumb -%}
        <nav class="layout-breadcrumb" id="breadcrumb"></nav>
      {%- endunless -%}

      <nav class="layout-toc">
        {%- include toc -%}
      </nav>

      <article>
        {{ heading1 }}
        {%- unless disableMetabar -%}
          {%- include metabar -%}
        {%- endunless -%}
        {{ content }}
      </article>

      <aside>
        {%- include aside -%}
      </aside>
    {%- else -%}
      {{ content }}
    {%- endif -%}
  </main>

  <footer>
    {%- include footer -%}
  </footer>

  <script type="text/javascript" src="{{ page._rel }}dist/docfx.js"></script>
</body>

</html>