<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	{{metadata}}

	<title>{{ page.title }}</title>

	<link rel="stylesheet" href="{{ page._rel }}dist/docfx.css">
	<script type="text/javascript" src="{{ page._rel }}dist/docfx.js"></script>
</head>

<body data-spy="scroll" data-target="#affix" data-offset="120">
	<div id="wrapper">
		<header>
			{%- unless disableNavbar -%}
			{%- include navbar.html -%}
			{%- endunless -%}

			{%- unless disableBreadcrumb -%}
			{%- include breadcrumb.html -%}
			{%- endunless -%}
		</header>

		<div role="main" class="container body-content page-type-{{pageType}}">
			{%- if fullPage -%}
				{{ content }}
			{%- else -%}
				{%- if disableToc -%}
				<div class="article row grid">
				{%- else -%}
				{%- include toc.html -%}
				<div class="article row grid-right">
				{%- endif -%}

					{%- if disableAffix -%}
					<div class="col-md-12">
					{%- else -%}
					<div class="col-md-10">
					{%- endif -%}

						<article class="content wrap" id="_content" data-uid="{{uid}}">
							{{ heading1 }}
							{%- unless disableMetabar -%}
							{%- include metabar.html -%}
							{%- endunless -%}
							{{ content }}
						</article>

					</div>

					{%- unless disableAffix -%}
					{%- include affix.html -%}
					{%- endunless -%}
				</div>
			{%- endif -%}
		</div>

		{%- include footer.html -%}
	</div>
</body>

</html>